.return-reason-control textarea {
    width: 100%;
    border: solid 2px;
    border-radius: 8px;
}
.title {
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
}

input {
    background-color: lightcyan;
}

.col-6 {
    margin-bottom: 1rem;
}

.col-12 {
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    background-color: lightcyan;
}

.jumbotron {
    margin-bottom: 0;
}
