<!--{{mainForm.value|json}}-->
<div class="vh-100">
    <div class="row h-100 justify-content-center align-content-center">
        <div class="container">
            <block-ui></block-ui>
            <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-6 form-group">
                        <app-calendars (dataChange)="onDateChange($event)" name="component1" title="Prune Cutoff Date"></app-calendars>
                    </div>
                    <div class="col-6 form-group">
                        <app-calendars (dataChange)="onDateChange($event)" name="component2" title="Execute on Date"></app-calendars>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label>Accessibility</label>
                        <div>
                            <input id="accessibility" type="checkbox" formControlName="accessibility" class="checkbox-size" (click)="checkStatus()">
                            <label for="accessibility" class="checkbox-display">State</label>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <label class="required">State</label>
                        <div>
                            <select class="form-control select-size" formControlName="state">
                                <option value="">Select</option>
                                <option [ngValue]="state.NAME" *ngFor="let state of states">{{state.LABEL}}</option>
                            </select>
                            <div class="required-position" *ngIf="mainForm.get('state').invalid">
                                <small *ngIf="mainForm.get('state').errors?.required" class="text-danger">Required</small>
                            </div>
                            <div class="selected-display">
                                <p>State : {{selectedState?.NAME}} </p>
                                <p>ID : {{selectedState?.ID}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Return Reason({{mainForm.get('returnReason').value.length}}/1000)</label>
                    </div>
                    <div class="col-12 return-reason-control form-group">
                        <textarea rows="5" type="text" class=form-control formControlName="returnReason" readonly></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-6 button-group">
                        <button class="btn btn-primary" (click)="showReturnReason()">Return</button>
                        <button class="btn btn-primary" [disabled]="!mainForm.valid" (click)="showFormValue()">Submit</button>
                        <button class="btn btn-primary" (click)="resetValue()"> Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
