input {
    border: solid 2px;
    border-radius: 8px;
    width: 80%;
}

.calendar-button {
    background-color: white;
    border: none;
}

//.i-display {
//    padding-top: 7px;
//}

img {
    width: 32px;
    margin-bottom: 7px;
}
